// main: ../main.scss
/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/
.skills {
  .skill-box {
    background-color: var(--surface-color);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);

    h3 {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      font-weight: 600;
    }

    p {
      font-size: 0.9rem;
      margin-bottom: 0.8rem;
      opacity: 0.6;
    }

    .progress {
      background-color: color-mix(in srgb, var(--accent-color), transparent 85%);
      border-radius: 50px;
      height: 8px;
      margin-top: 5px;
      overflow: hidden;

      .progress-bar {
        background-color: var(--accent-color);
        height: 100%;
        position: relative;
        border-radius: 50px;
        transition: .9s;
        width: 1px;
      }
    }
  }
}